{
    "root": true,
    "env": {
      "node": true,
      "es2022": true
    },
    "extends": [
      "plugin:vue/vue3-essential",
      "@vue/standard",
      "@vue/typescript/recommended"
    ],
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "rules": {
      "space-before-function-paren": "off",

      "semi": "warn",
      "quotes": "warn",
      "quote-props": "warn",
      "comma-dangle": "warn",
      "keyword-spacing": "warn",
      "object-curly-spacing": "warn",
      "block-spacing": "warn",
      "space-infix-ops": "warn",

      "indent": ["warn", 2],
      "no-multiple-empty-lines": "warn",
      "padded-blocks": "warn",

      "one-var": "warn",
      "prefer-const": "warn",
      "no-unused-vars": "warn",
      "no-use-before-define": "warn",

      "no-duplicate-imports": ["error"],
      "@typescript-eslint/no-unused-vars": ["warn"],
      "@typescript-eslint/no-explicit-any": ["warn"],
      "@typescript-eslint/no-use-before-define": ["error"],

      "vue/no-unused-components": "warn"
    }
  }