# BROWSER CACHING USING CACHE-CONTROL HEADERS
# Requires AllowOverride FileInfo
<IfModule mod_headers.c> 
    # One month
    <FilesMatch ".(css|js|min.svg)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    <FilesMatch ".*/msvg/.*/\.svg$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>

# BROWSER CACHING USING EXPIRES HEADERS
# Requires AllowOverride Indexes
<IfModule mod_expires.c>
    ExpiresActive On
  
    # Images
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/webp "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"

    # CSS, JavaScript
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>