/* This file should only contain color specifications, to be changed by different themes.*/

.generator .setting input {
  color: $text-color;
  background-color: #444;
}

.generatorbuttons>div {
    // background-color: rgba(128, 128, 128, 0.10);

    color: $highlight-color;

    // &.disabled {
      // background-color: rgba(128, 128, 128, 0.80);
      // color: unset;
    // }
}