/* Contains theme processing for views. */
// TODO: Move to more appropriate scss files.

.bg-highlight {
  background-color: var(--background-color-highlight, #f60);
  color: var(--text-color-highlight, #000);
}

.border-highlight {
  border-color: var(--background-color-highlight, #f60);
}

table.songbook tr,
div.row {
  box-shadow: 0 2px 3px var(--row-shadow-color, #111);
  border-bottom: 1px solid #111;

  &:active {
    background-color: var(--background-color-secondary, #444);
  }

  &:first-child {
    box-shadow: 0 1px 5px var(--row-shadow-color, #111);
  }
}

.view-generator .generatorbuttons>div {
  // background-color: rgba(128, 128, 128, 0.10);

  color: var(--background-color-highlight, #f60);

  // &.disabled {
  // background-color: rgba(128, 128, 128, 0.80);
  // color: unset;
  // }
}

.view-generator .setting input,
input.secondary,
textarea.secondary {
  color: var(--background-color-primary, #ddd);
  background-color: var(--background-color-secondary, #444);
  border: none;
  /* TODO: Move somewhere more general and use classes in generator to reference this. */
  border-radius: 0.3em;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;

  &:not(textarea) {
    height: 1.8em;
  }
}