/* Contains theme processing for views. */
/* Since this is imported, begin each identifier with &. */

& .bg-highlight {background-color: $highlight-color;color: $highlight-text-color;}
& .border-highlight {border-color: $highlight-color;}

& .button {
  font-family: inherit;
  color: $button-text-color;
  background-color: $button-color;
  &:active:not(.disabled):not(.static) {background-color: $active-button-color;}
}

& table.songbook tr {
  box-shadow: 0 2px 3px $row-shadow-color;
  border-bottom: 1px solid #111;
  background-color: $row-background;
  &:active {background-color: $secondary-background;}
  &:first-child {box-shadow: 0 1px 5px $row-shadow-color;}
}

& .view-generator {
  & .setting input {
    color: $text-color;
    background-color: $secondary-background;
  }
  
  & .generatorbuttons>div {
      // background-color: rgba(128, 128, 128, 0.10);
  
      color: $highlight-color;
  
      // &.disabled {
        // background-color: rgba(128, 128, 128, 0.80);
        // color: unset;
      // }
  }
}