// "Nya Hemsidan" color palette
$f-red: #dc3545;
$f-orange: #FF642B;
$f-orange-light: #FB9C74;
$f-orange-lighter: #F7D48C;
$f-porcelain: #f5f4f4;
$f-white: #f8f9fa;
$f-light: #f0f0f0;
$f-navy: #132a3e;
$f-dark: #102537;
$f-darker: #093144;
$f-darkest: #062432;
$f-gray-violet: #2f3b4b;
$f-gray-dark: #343a40;
$f-gray-navy: #3B5262;
$f-gray-turqoise: #829899;
$f-blue: #1757A3;
$f-sky: #58a7cb;
$f-green: #197F2A;
$f-onyx: #221F20;