@import "variables";

$text-color: #333;

body.day {
    @include export-vars((
        $--background-color-primary: #fff,
        $--background-color-secondary: #f1f1f1,
        $--background-color-highlight: #f60,
        $--background-color-button: rgba(128, 128, 128, 0.10),
        $--background-color-button-active: rgba(128, 128, 128, 0.30),
        $--text-color-primary: $text-color,
        $--text-color-secondary: $text-color, 
        $--text-color-highlight: #000,
        $--text-color-button: $text-color,
        $--color-success: #0E0,
        $--row-shadow-color: #aaa,
        $--image-filter-sheetmusic: none,
        $--image-filter-inline: none,
    ));
}