$text-color: #333;
$secondary-text-color: $text-color;
$secondary-background: #f1f1f1;

$highlight-color: #f60;
$highlight-text-color: #000;

$navbar-background: $highlight-color;
$dropdown-background: #fff;

$sheet-music-filter: none;
$inline-image-filter: none;
$success: #0E0;

$row-shadow-color: #aaa;
$row-background: initial;

$button-color: rgba(128, 128, 128, 0.10);
$button-text-color: $text-color;
$active-button-color: rgba(128, 128, 128, 0.30);

$modal-text-color: $text-color;
$modal-background-color: $secondary-background;

body.day {
    background-color: #fff;
    color: $text-color;

    @import "../components/themed.scss";
    @import "../views/themed.scss";
}