/* Colors */
$text-color: #b7b7b7;
$secondary-text-color: $text-color;
$body-background: url('/img/gast.svg') center fixed no-repeat #000;
$secondary-background: lighten(#000, 10%);
$highlight-color: #460066;
$highlight-text-color: $text-color;
$navbar-background: $highlight-color;
$dropdown-background: $body-background;
$sheet-music-filter: invert(0.8);
$inline-image-filter: invert(1);
$success: #f00;


$row-shadow-color: $secondary-background;
$row-background: inherit;

$button-color: #5b2b9930;
$button-text-color: $text-color;
$active-button-color: #5b2b9970;

$modal-text-color: $text-color;
$modal-background-color: $body-background;

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=GFS+Didot&display=swap'); //  'Ballet', 'Pinyon Script', 'Meie Script', 'Fleur De Leah'
body.fancy,
body.fancy .title,
body.fancy input[type=search] {
    font-family: 'Fleur De Leah', 'GFS Didot', 'EB Garamond', serif;
}

body.fancy .song-index, body.fancy .index {
    font-family: 'GFS Didot', 'EB Garamond', serif;
}

body.fancy {
    background-size: contain;
    background-image: url('/img/gast.svg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: $text-color;

    @import "../components/themed.scss";
    @import "../views/themed.scss";
}
