@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap'); //  'Ballet', 'Pinyon Script'
body.fancy,
body.fancy .title,
body.fancy input[type=search],
body.fancy .setting,
body.fancy .button {
    font-family: 'Fleur De Leah', 'GFS Didot';
}

body.fancy {
    background-size: contain !important;
}

body.fancy .song-index, body.fancy .index {
    font-family: 'GFS Didot';
}