/* Colors */
$text-color: #b7b7b7;
$secondary-text-color: $text-color;
$body-background: url('/gast.svg') center fixed no-repeat #000;
$secondary-background: lighten(#000, 10%);
$highlight-color: #460066;
$highlight-text-color: $text-color;
$navbar-background: $highlight-color;
$dropdown-background: $body-background;
$sheet-music-filter: invert(0.8);
$success: #f00;


$row-shadow-color: $secondary-background;
$row-background: inherit;

$button-color: #5b2b9930;
$active-button-color: #5b2b9970;

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap'); //  'Ballet', 'Pinyon Script'
body.fancy,
body.fancy .title,
body.fancy input[type=search],
body.fancy .setting,
body.fancy .button {
    font-family: 'Fleur De Leah', 'GFS Didot';
}

body.fancy .song-index, body.fancy .index {
    font-family: 'GFS Didot';
}

body.fancy {
    background-size: contain !important;
    background: $body-background;
    color: $text-color;

    @import "../components/index.scss";
    @import "../views/index.scss";
}
