@import "colors";
@import "variables";

$text-color: #ddd;
$secondary-background: lighten($f-onyx, 10%);

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
body.galaxy {
    @include export-vars((
        $--background-color-primary: $f-onyx,
        $--background-color-secondary: $secondary-background,
        $--background-color-highlight: $f-gray-navy,
        $--background-color-button: rgba($f-gray-violet, 0.4),
        $--background-color-button-active: rgba($f-gray-violet, 0.7),
        $--text-color-primary: $text-color,
        $--text-color-secondary: $text-color, 
        $--text-color-highlight: $text-color,
        $--text-color-button: $text-color,
        $--color-success: $f-green,
        $--row-shadow-color: $secondary-background,
        $--image-filter-sheetmusic: invert(0.8),
        $--image-filter-inline: invert(1),
    ));

    // Overrides
    font-family: 'Libre Franklin', 'Arial', sans-serif;
    letter-spacing: 0.005em;
    word-spacing: 0.02em;
    
    & .navbar .title {font-family: 'Libre Franklin', 'Arial', sans-serif;}
    & .component-settings {font-size: 1.1em;}
}