$text-color: #333;
$secondary-text-color: $text-color;
$body-background: url('https://www.publicdomainpictures.net/pictures/30000/velka/halloween-illustration.jpg') fixed;
$secondary-background: #222;
$highlight-color: #624c2b;
$highlight-text-color: #fff;
$navbar-background: #222117;
$dropdown-background: $body-background;
$sheet-music-filter: none;
$success: #0E0;


$row-shadow-color: #222;
$row-background: initial;

$button-color: rgba(128, 128, 128, 0.10);
$button-text-color: $text-color;
$active-button-color: rgba(128, 128, 128, 0.30);

body.halloween {
    background-size: contain !important;
    background: $body-background;
    color: $text-color;

    @import "../components/index.scss";
    @import "../views/index.scss";
}