@import "colors";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

$text-color: #333;

body.neo {
    @include export-vars((
        $--background-color-primary: $f-white,
        $--background-color-secondary: $f-light,
        $--background-color-highlight: $f-orange,
        $--background-color-button: $f-navy,
        $--background-color-button-active: rgba(128, 128, 128, 0.30),
        $--text-color-primary: $text-color,
        $--text-color-secondary: $text-color, 
        $--text-color-highlight: #000,
        $--text-color-button: $f-white,
        $--color-success: #0E0,
        $--row-shadow-color: transparent,
        $--image-filter-sheetmusic: none,
        $--image-filter-inline: none,
    ));

    // Overrides
    font-family: 'Libre Franklin', 'Arial', sans-serif;
    letter-spacing: 0.005em;
    word-spacing: 0.02em;
    
    & .navbar .title {font-family: 'Libre Franklin', 'Arial', sans-serif;}
    & table.songbook tr:nth-child(odd) {background-color: $f-light;}
    & .button {color: $f-light;}
    & .component-settings {font-size: 1.1em;}

    & .navbuttons > .button > div > img { /* Ovveride the default, which is --image-filter-inline. */
        filter: invert(1);
    }
}