@import "variables";

$text-color: #ddd;

body.night {
    @include export-vars((
        $--background-color-primary: #222,
        $--background-color-secondary: #444,
        $--background-color-highlight: #f60,
        $--background-color-button: rgba(128, 128, 128, 0.10),
        $--background-color-button-active: rgba(128, 128, 128, 0.30),
        $--text-color-primary: $text-color,
        $--text-color-secondary: #fff, 
        $--text-color-highlight: #000,
        $--text-color-button: $text-color,
        $--color-success: #0E0,
        $--row-shadow-color: #111,
        $--image-filter-sheetmusic: invert(0.6),
        $--image-filter-inline: invert(1),
    ));
}