

button:active {background-color: rgba(255, 255, 255, 0.20);}

.navbar {
    background: $navbar-background;
}

.title {
    color: white;
}

.settings {
    color: $text-color;
    background: $dropdown-background;
    box-shadow: 0 0 14px black;
}

.settings .copy .checkmark {
    color: $success;
}