.navbuttons {
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 0;
    width: 100%;
    background-color: var(--background-color-primary, #222);
    box-shadow: 0 0 20px 20px var(--background-color-primary, #222);
  }

  & .button img {
    filter: var(--image-filter-inline-highlight, var(--image-filter-inline, invert(1)));
  }

  padding: 20px 0;
  text-align: center;

  &>div {
    width: 50%;
    display: inline-block;

    &>div {
      $navbutton-spacing: 12px;
      border-radius: $navbutton-spacing;
      margin: $navbutton-spacing;
      padding: $navbutton-spacing;

      &>div {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &>img {
          height: 0.5em;
        }
      }
    }

    &:last-child>div>div>img {
      transform: scaleX(-1);
    }
  }
}

div.filler {
  opacity: 0;

  &.fixed { // Not actually for fixed fillers, but for fillers that extend the main page when using fixed buttons.
    height: 50px;
  }
}